*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.dashChild1 {
  grid-row: 1 / 7;        
  grid-column: 1 / 9;     
}

.dashChild2 {
  grid-row: 7 / 13;       
  grid-column: 1 / 9;     
}

.dashChild3 {
  border: 2px solid black;
  grid-row: 1 / 13;       
  grid-column: 9 / 13;    
}
